.offerContainer{
    padding: 0px 263px;
    padding-top: 100px;
    h4{
        text-transform: capitalize;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: var(--headText);
    }
}