.rowtwoConatinar{
    padding: 0px 401px;
    margin-bottom: 71px;
    .rowtwoConetents{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 539px;
            height: 359px;
            
        }
    }
}