.navContainer{
    .navbar{
        width: 100%;
        height: 90px;
        background-color: var(--loginNavbar);

        img{
            width: 125px;
            height: 30px;
            position: absolute;
            left: 263px;
            top:30px;
        }
    }
}